<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />

    @await RenderSectionAsync("Styles", required: false)

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body hx-boost="true" hx-swap='innerHTML show:no-scroll'>
    <div id="notificationWrapper"
         hx-get="/Notify"
         hx-swap="innerHTML"
         hx-trigger="notification-added from:body">
         <partial name="Partials/_Notification" />
    </div>

    <main role="main" class="mx-auto p-8 w-3/4 min-h-screen">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="https://unpkg.com/htmx.org@1.9.4"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>