@using WebClient.Services.Orders.ViewModels
@model OrderCountryVM

@Html.RedValidationMessage(x => x.SelectedValue, "ShippingAddress.Country.SelectedValue")
<select id="ShippingAddress_CountryName" 
        asp-for="SelectedValue" 
        name="ShippingAddress.Country.SelectedValue"       
        class="shipping-address w-full border border-gray-nurse-100 p-2 mb-4"
        onchange="applyShippingMethodCountrySelected()"
        >
    <option value="">Select your country...</option>
    @foreach (var country in Model.AvailableCountries)
    {
        <option value="@country.Name" selected="@(country.Name == Model.SelectedValue)">@country.Name</option>
    }
</select>

<script id="addressSpecificScript">
    (function () {
        console.log("Test")
        applyShippingMethodCountrySelected();
        document.getElementById("addressSpecificScript").remove();
    })();
</script>