@using WebClient.Services.Orders.ViewModels
@model OrderPaymentMethodVM

@Html.RedValidationMessage(x => x.SelectedValue, "Payment.SelectedValue")
@foreach (var paymentMethod in Model.AvailablePayments)
{
    <label class="flex items-center gap-4 w-full border border-gray-nurse-100 p-4">
        <input asp-for="SelectedValue" name="Payment.SelectedValue" type="radio" value="@paymentMethod.Name" checked="@(paymentMethod.Name == Model.SelectedValue)" />
        @paymentMethod.Name
    </label>
}