<footer class="bg-zuccini-100 flex flex-row justify-between pt-16 px-8 pb-8">
    <section class="flex-1 flex flex-col gap-4">
        <a routerLink="/" class="flex items-center space-x-3">
            <img src="img/plants-logo.png" class="h-32" alt="Victor Pérez Asuaje Logo" />
        </a>

        <p class="text-sm text-zuccini-800">For all general inquiries, please contact me at</p>

        <p class="text-sm text-zuccini-800"><b>Email:</b> contact&#64;victorperezasuaje.com</p>
    </section>

    <section class="flex-1 flex flex-col gap-4">
        <h5 class="uppercase text-zuccini-800 font-bold">INFORMATION</h5>
        <ul class="text-sm flex flex-col gap-2">
            <li>About me</li>
            <li>Contact me</li>
            <li>My Account</li>
            <li>Orders and Returns</li>
        </ul>
    </section>

    <section class="flex-1 flex flex-col gap-4">
        <h5 class="uppercase text-zuccini-800 font-bold">CUSTOMER SERVICES</h5>
        <ul class="text-sm flex flex-col gap-2">
            <li>Help & FAQs</li>
            <li>Returns Policy</li>
            <li>Terms & Conditions</li>
            <li>Privacy Policy</li>
            <li>Support Center</li>
        </ul>
    </section>

    <section class="flex-1 flex flex-col gap-4">
        <h5 class="uppercase text-zuccini-800 font-bold">NEWSLETTER</h5>
        <p class="text-sm text-zuccini-800">Enter your email to receive daily news and get 20% off coupon for all items.</p>
        <form class="flex flex-row">
            <input class="w-full border border-gray-nurse-100 p-2 mb-4 h-fit text-sm" placeholder="Email" />
            <button class="bg-zuccini-700 text-white text-sm p-2 hover:bg-zuccini-400 transition-all ease-in-out duration-200 whitespace-nowrap h-fit">SUBSCRIBE</button>
        </form>
    </section>
</footer>