<nav class="bg-white border-gray-200 fixed top-0 w-full z-30 shadow-lg">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen py-6 px-8">
        <a asp-controller="Home" asp-action="Index" class="flex items-center space-x-3">
            <img src="/img/plants-logo.png" class="h-14" alt="Victor Pérez Asuaje Logo" />
        </a>
        <button type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15" />
            </svg>
        </button>
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1">
            <ul class="flex flex-col mt-4 font-medium md:flex-row md:mt-0 md:space-x-8 text-lg">
                <li>
                    <button class="flex items-center justify-between w-full py-2 px-3 font-medium text-gray-900 border-b border-gray-100 md:w-auto hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-zuccini-600 md:p-0" onclick="toggleMegaMenu('plants')">
                        Plants
                    </button>
                </li>
                <li>
                    <button class="flex items-center justify-between w-full py-2 px-3 font-medium text-gray-900 border-b border-gray-100 md:w-auto hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-zuccini-600 md:p-0" onclick="toggleMegaMenu('bulbs')">
                        Bulbs
                    </button>
                </li>
                <li>
                    <button class="flex items-center justify-between w-full py-2 px-3 font-medium text-gray-900 border-b border-gray-100 md:w-auto hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-zuccini-600 md:p-0" onclick="toggleMegaMenu('seeds')">
                        Seeds
                    </button>
                </li>
                <li>
                    <button class="flex items-center justify-between w-full py-2 px-3 font-medium text-gray-900 border-b border-gray-100 md:w-auto hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-zuccini-600 md:p-0" onclick="toggleMegaMenu('materials')">
                        Materials
                    </button>
                </li>
                <li>
                    <button class="flex items-center justify-between w-full py-2 px-3 font-medium text-gray-900 border-b border-gray-100 md:w-auto hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-zuccini-600 md:p-0" onclick="toggleMegaMenu('tools')">
                        Tools
                    </button>
                </li>
                <li>
                    <a routerLink="/blog" class="block py-2 px-3 text-gray-900 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-zuccini-700 md:p-0  ">Blog</a>
                </li>
            </ul>
        </div>
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-2 gap-3">
            @if (!User.Identity.IsAuthenticated)
            {
                <a asp-controller="Home" asp-action="Login" class="text-zuccini-700 hover:text-zuccini-800 hover:bg-gray-50 focus:ring-zuccini-300 focus:ring-4 text-lg px-2.5 aspect-square rounded-full my-auto flex items-center justify-center">
                    <i class="fa-solid fa-sign-in"></i>
                </a>
            }
            else
            {
                <a asp-controller="Home" asp-action="Logout" class="text-zuccini-700 hover:text-zuccini-800 hover:bg-gray-50 focus:ring-zuccini-300 focus:ring-4 text-lg px-2.5 aspect-square rounded-full my-auto flex items-center justify-center rotate-180">
                    <i class="fa-solid fa-sign-in"></i>
                </a>

                <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index" class="text-zuccini-700 hover:text-zuccini-800 hover:bg-gray-50 focus:ring-zuccini-300 focus:ring-4 text-lg px-2.5 aspect-square rounded-full my-auto flex items-center justify-center">
                    <i class="fa-solid fa-lock"></i>
                </a>
            }

            <button class="relative text-zuccini-700 hover:text-zuccini-800 hover:bg-gray-50 focus:ring-zuccini-300 focus:ring-4 text-lg px-2.5 aspect-square rounded-full my-auto flex items-center justify-center" 
                onclick="openCartMenu()"
                hx-get="/shop/cart"
                hx-swap="innerHTML"
                    hx-target="#cart">
                <span class="absolute top-0 right-0 bg-golden-600 text-white h-4 text-xs aspect-square rounded-full">
                    
                </span>
                <i class="fa-solid fa-cart-shopping"></i>
            </button>
        </div>
    </div>

    <div id="plants" class="megamenu mt-1 bg-white border-gray-200 border-y" hidden>
        <ul class="grid max-w-screen-xl px-4 py-5 mx-auto text-gray-900 sm:grid-cols-2 md:grid-cols-3 md:px-6">
            <li>
                <a asp-controller="Shop" asp-action="Index" asp-route-category="plants" asp-route-tag="Perennials" class="block p-3 rounded-lg hover:bg-gray-50">
                    <div class="font-semibold">Perennials</div>
                    <span class="text-sm text-gray-500 ">Explore our collection of perennial plants that come back year after year, adding beauty to your garden effortlessly.</span>
                </a>
            </li>
            <li>
                <a asp-controller="Shop" asp-action="Index" asp-route-category="plants" asp-route-tag="Roses" class="block p-3 rounded-lg hover:bg-gray-50">
                    <div class="font-semibold">Roses</div>
                    <span class="text-sm text-gray-500 ">Discover the elegance and fragrance of our rose varieties, perfect for gardens, bouquets, and special occasions.</span>
                </a>
            </li>
            <li>
                <a asp-controller="Shop" asp-action="Index" asp-route-category="plants" asp-route-tag="Climbers" class="block p-3 rounded-lg hover:bg-gray-50">
                    <div class="font-semibold">Climbers</div>
                    <span class="text-sm text-gray-500 ">Find climbing plants that bring vertical interest to your garden, creating stunning natural backdrops.</span>
                </a>
            </li>
            <li>
                <a asp-controller="Shop" asp-action="Index" asp-route-category="plants" asp-route-tag="Indoor" class="block p-3 rounded-lg hover:bg-gray-50">
                    <div class="font-semibold">Indoor</div>
                    <span class="text-sm text-gray-500 ">Enhance your indoor spaces with our selection of houseplants, bringing greenery and freshness to your home.</span>
                </a>
            </li>
            <li>
                <a asp-controller="Shop" asp-action="Index" asp-route-category="plants" asp-route-tag="Outdoor" class="block p-3 rounded-lg hover:bg-gray-50">
                    <div class="font-semibold">Outdoor</div>
                    <span class="text-sm text-gray-500 ">Elevate your outdoor areas with our outdoor plant options, making your garden or patio more inviting and beautiful.</span>
                </a>
            </li>
            <li>
                <a asp-controller="Shop" asp-action="Index" asp-route-category="plants" asp-route-tag="Bedding" class="block p-3 rounded-lg hover:bg-gray-50">
                    <div class="font-semibold">Bedding</div>
                    <span class="text-sm text-gray-500 ">Create cozy and colorful garden beds with our bedding plants, transforming your outdoor space.</span>
                </a>
            </li>
        </ul>
    </div>

    <div id="bulbs" class="megamenu mt-1 bg-white border-gray-200 border-y" hidden>
        <ul class="grid max-w-screen-xl px-4 py-5 mx-auto text-gray-900 sm:grid-cols-2 md:grid-cols-3 md:px-6">
            <li>
                <a asp-controller="Shop" asp-action="Index" asp-route-category="bulbs" asp-route-tag="Tulips" class="block p-3 rounded-lg hover:bg-gray-50">
                    <div class="font-semibold">Tulips</div>
                    <span class="text-sm text-gray-500 ">Brighten your garden with vibrant tulip varieties, adding a burst of color and charm in the spring.</span>
                </a>
            </li>
            <li>
                <a asp-controller="Shop" asp-action="Index" asp-route-category="bulbs" asp-route-tag="Daffodils" class="block p-3 rounded-lg hover:bg-gray-50">
                    <div class="font-semibold">Daffodils</div>
                    <span class="text-sm text-gray-500 ">Welcome spring with the cheerful blooms of daffodils, a classic and beloved flower for your garden.</span>
                </a>
            </li>
            <li>
                <a asp-controller="Shop" asp-action="Index" asp-route-category="bulbs" asp-route-tag="Alliums" class="block p-3 rounded-lg hover:bg-gray-50">
                    <div class="font-semibold">Alliums</div>
                    <span class="text-sm text-gray-500 ">Add a touch of elegance to your garden with alliums, known for their unique spherical flower heads.</span>
                </a>
            </li>
            <li>
                <a asp-controller="Shop" asp-action="Index" asp-route-category="bulbs" asp-route-tag="Iris" class="block p-3 rounded-lg hover:bg-gray-50">
                    <div class="font-semibold">Iris</div>
                    <span class="text-sm text-gray-500 ">Explore the beauty of iris flowers, available in a wide range of colors, to enhance your garden's appeal.</span>
                </a>
            </li>
            <li>
                <a asp-controller="Shop" asp-action="Index" asp-route-category="bulbs" asp-route-tag="Amaryllis" class="block p-3 rounded-lg hover:bg-gray-50">
                    <div class="font-semibold">Amaryllis</div>
                    <span class="text-sm text-gray-500 ">Cultivate stunning amaryllis bulbs, known for their large, striking blooms, as a centerpiece in your garden.</span>
                </a>
            </li>
            <li>
                <a asp-controller="Shop" asp-action="Index" asp-route-category="bulbs" asp-route-tag="Muscari" class="block p-3 rounded-lg hover:bg-gray-50">
                    <div class="font-semibold">Muscari</div>
                    <span class="text-sm text-gray-500 ">Create a charming atmosphere with muscari flowers, also called grape hyacinths, for a unique garden touch.</span>
                </a>
            </li>
        </ul>
    </div>

    <div id="seeds" class="megamenu mt-1 bg-white border-gray-200 border-y" hidden>
        <ul class="grid max-w-screen-xl px-4 py-5 mx-auto text-gray-900 sm:grid-cols-2 md:grid-cols-3 md:px-6"></ul>
    </div>

    <div id="materials" class="megamenu mt-1 bg-white border-gray-200 border-y" hidden>
        <ul class="grid max-w-screen-xl px-4 py-5 mx-auto text-gray-900 sm:grid-cols-2 md:grid-cols-3 md:px-6"></ul>
    </div>

    <div id="tools" class="megamenu mt-1 bg-white border-gray-200 border-y" hidden>
        <ul class="grid max-w-screen-xl px-4 py-5 mx-auto text-gray-900 sm:grid-cols-2 md:grid-cols-3 md:px-6"></ul>
    </div>


    <aside id="cart" class="fixed h-screen w-3/4 md:w-1/2 lg:w-1/3 bg-white shadow-lg top-0 p-8 flex flex-col transition-all ease-in-out duration-200 -right-3/4 md:-right-1/2 lg:-right-1/3">
        <header class="flex flex-row justify-between items-center flex-1 max-h-[10vh]">
            <h3 class="text-lg font-bold">Cart items</h3>

            <button onclick="closeCartMenu()">
                <i class="fa-solid fa-x"></i>
            </button>
        </header>

        <div class="flex flex-row gap-4">
            <div role="status">
                <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor" />
                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill" />
                </svg>
                <span class="sr-only">Loading...</span>
            </div>

            <p>Loading cart items...</p>
        </div>
    </aside>
</nav>


<script src="/components/menu.js" asp-append-version="true"></script>